.nav{
  list-style-type: square;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  display: flex;
}
.nav a{
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: white;
  flex: 1;
}
nav a.active{
  background-color: white;
  color: silver;
}
nav a:hover{
  background-color: lightblue;
}
h4 {
  color: red;
}
.food {
  text-align: center;
}
body{
  text-align: center;
}
#know {
  color: black;
}
.chicken {
  color: #8E9EF1;
}
h3{
  color: #8E9EF1;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.reg > img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}
.photos > .reg {
  flex: 1 1 150px;
}
.contact {
  font-size: 250px
  color: lightblue;
}
iframe {
  height: 900px;
  width: 400px;
}
